@media screen and (min-width: 1024px) {
  .answer-quiz {
    width: 350px;
    padding: 14px;
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2em;
  }

  .progress-bar {
    width: 60%;
  }

  .timer {
    width: 120px;
  }

  .feedback {
    font-size: 4rem;
  }
  .question {
    font-size: 2.5rem;
  }
}
